
* { box-sizing: border-box; }

.container{
	width: 80%;
	margin: 0 auto;
}

.header h1{
	text-align: center;
}

.image{
	display: inline-block;
}

.column{
	display: inline-block;
	float: left;
	width: 30%;
	padding: 0 20px;
}

.main-text{
	clear: both;
	padding-top: 60px;
}

.header{
	.margin-bottom: 40px;
}
